html{
    overflow:hidden;
    background-color: rgb(221, 189, 150);
    height:100vh;
    width:100%;
}

body{
    height:100vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;

}


#images{
    height:90%;
    width:1070px;
    box-shadow: 0px 0px 10px rgb(90, 88, 88);

}


#photo{
    height:80.4%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}


#photo>div{
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#photo>div>img{
    /* position:absolute; */
    height:100%;
    width:auto;
}

#carrousel{
    height:125px;
    background-color: rgb(221, 189, 150);
    box-shadow: 0px 0px 10px rgb(90, 88, 88);
    display:flex;
    justify-content: space-between;
    width:100%;
}    



#carrouseul>div{
    height:125%;
    width:50%;
}
#carrousel>div>img{
    height:125px;
    width:auto;
    cursor: pointer;
}
