*, ::before, ::after{
    box-sizing:border-box;
    margin : 0;
    padding : 0
}


body{
    width: 87%;
    background: linear-gradient(135deg, rgb(236, 189, 155),30%, transparent), url("C:\Users\user\Downloads\fond-ton-terre-degrade-doux-vintage\v966-08a.jpg");
    background-color:transparent;
    background-attachment: fixed;
    background-repeat:no-repeat;
    font-family: 'Playfair Display', serif;
    margin-left:auto;
    margin-right:auto;
}

h1{
    max-width:1600px;
    font-size: 100px;
    margin-top : 260px;
    margin-bottom : 350px;
}

h2{
    border: 5px rgb(141, 112, 72) outset;
    border-radius:1px;     
    padding : 5px;

    margin-bottom: 25px;
    font-size:50px;
    text-align : center;
}


section{

    margin-top: 50px;
    padding:25px;
    width: 250px;
    border: thick double #91785a;
    border-radius:35px;
    margin-left: auto;
    margin-right: auto;

}
.reponse_au_td1{ 
    font-size:40px;
  

}

ul{
    margin-top : 50px;
    padding-left:25%;
    font-size:20px;
    color:#91785a
}

a:hover{
    
    color: rgb(63, 30, 1);
}

a:link{
    color :rgb(103, 69, 45)
}

a:visited{
    color: rgb(39, 18, 1);
}

.mentions{
    width:100%;
    display: flex;
    flex-wrap: wrap; /*Optionner - permet aux éléments de passer à la ligne en cas de besoin*/
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 25px;
}