body {
    background-color: rgb(233, 223, 223);
    font-family: 'Inter', sans-serif;
}

#tout{
    align-items: center;
    height: 100%;
    width:100%
}

#tout {
    
    min-height: 950px;
    width:100%;
    background-image: url("./../../images/df-min.jpg");
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;

}


.flex{
    display:flex;
    flex-wrap: wrap;
}

#conseilgestion{
    border-radius: 35px;
    background-color: rgb(204, 82, 0);
    text-align : center;
    padding : 15px;
    color:white;
    justify-content: center;

}

.tiredefreepik{
    
    color:rgba(255, 255, 255, 0.493);
    
}

#conseilgestion>p{
    font-size:15px;
    
}
.flex>#conseilgestion{
    justify-content: center;
}